{% extends "visa/home.html" %}

{% block title %}
  FAQ's
{% endblock title %}

{% block content %}

  <div class="container-eligibility">
    <h2> FAQ's </h2>
    <form method="POST">
        {% csrf_token %}
        <ol>
            <li> <b> Who is eligible for e-Visa Services?<br>
Ans- </b>The following are the eligibility conditions for availing e-Visa services-<br>
i. Nationals of countries listed on the e-Visa website https://indianvisaonline.gov.in/evisa/ are eligible to apply for e-Visa Services.<br>
ii. Foreigners whose sole objective for visiting India is:-<br>
(a) Recreation and sightseeing<br>
(b) Casual visit to meet friends and relatives<br>
(c) Attending short term yoga programme or short term courses on local languages, music, dance, arts & crafts, cooking, medicine etc. which should not be a formal or structured course/programme
(courses not exceeding 6 months duration and not issuing a qualifying certificate/diploma etc. to the participants)<br>
(d) Voluntary work of short duration (for a maximum period of one month, which do not involve any monetary payment or consideration of any kind in return)<br>
(e) Medical treatment, including treatment under Indian systems of medicine<br>
(f) As attendant to e-Medical visa holder<br>
(g) Business purpose<br>
(h) Attending a conference/ seminar/ workshop.<br>
iii. Passport should have at least six months validity at the time of making application for grant of e-Visa and a re-entry permit, if that is required under the law of the country of nationality of the applicant.<br>
The passport should have at least two blank pages for stamping by the Immigration Officer.<br>
v. The foreigner should have return ticket or onward journey ticket, with sufficient money to spend during his/her stay in India.<br>
v. Foreigners of Pakistani origin or having Pakistani Passport are not eligible for e-Visa. Foreigners who are not Pakistani nationals, but whose parents or grandparents (either paternal or maternal) was born
in, or was permanently resident in Pakistan, are also not eligible for e-Visa. They may apply for regular Visa at Indian Mission.<br>
vi. Not available to Diplomatic/Official Passport Holders or Laissez-passer/ international travel document holders.<br>
vii. Not available to individuals endorsed on Parent's/Spouse's Passport i.e. each individual should have a separate passport.</li><br><br>
            <li> <b> Is there any fee other than the processing fee?<br>
                Ans- </b> No, there is no fee other than the processing fee for e-Visa application and it is non-refundable. Please visit our website to know the fee applicable for your country as it is country-specific.</li><br><br>
            <li> <b> When should I apply?<br>
Ans- </b>(i) For e-Tourist Visa (01 year / 05 years), e-Business Visa, e-Medical, e-Medical Attendant and e-Conference visa, applicants of the eligible countries/territories may apply online minimum 4 days in advance
of the date of arrival. Such application can be made 120 days in advance from proposed date of travel.<br>
 (ii) For e-Tourist Visa (30 days) , applicants of the eligible countries/territories may apply online minimum 4 days in advance of the date of arrival. Such application can be made 30 days in advance from
proposed date of travel.</li><br><br>
            <li> <b> Can I convert my e-Visa to any other Visa?<br>
Ans- </b> No, e-Visa is non-extendable and non-convertible.</li><br><br>
            <li> <b> What are the necessary documents required to apply for an e-Business Visa other than the Passport?<br>
                Ans - </b> You have to upload the business card along with the details of Indian Firm/Company (which you intend to associate yourself with) for business activities.
For Sports Related Activity under e-Business Visa, please refer Instructions for applicant page for the list of documents required.</li><br><br>
            </ol>
        <button type="submit" class="btn btn-primary" id="submitBtn">Close</button>
        <script>

        // Add an event listener to the submit button
        document.getElementById('submitBtn').addEventListener('click', function() {
            // Redirect to the home page
            window.location.href = 'http://127.0.0.1:8000/';

            // Display a success message using an alert (you can also use a modal or other UI element)
            alert('Ready to apply?');
        });


    </script>
    </form>
  </div><br><br><br>

{% endblock content %}